<%- include('partials/header') %>
<div class="form-container " style="border: 1px solid #ccc; border-radius: 20px; padding: 20px; background-color: #333;">
    <h2 style="margin-bottom: 30px; text-align: center; color: whitesmoke; font-family: 'Mansalva', cursive;">Lojinha Roupas</h2>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <label for="username" style="color: white; font-weight: 100;" >Username</label>
            <input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password" style="color: white; font-weight: 100;">Password</label>
            <input type="password" name="password" id="password" class="form-control" />
        </div>
        <div class="form-group" style="margin-top: 30px;">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/register" class="btn btn-link">Register</a>
        </div>
    </form>
</div>
<%- include('partials/footer') %>